<footer class="footer bg-dark">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>KUBANYCH</h3>
            <p>I'm a Mobile App & Web Developer.</p>
            <ul class="social-icons">
                <li>
                    <a class="icon" href="https://www.instagram.com/01asanov__/" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="icon" href="https://www.youtube.com/channel/UCneGkwC2dxnOc10q1Zlc0GQ" target="_blank"><i
                            class="fa fa-youtube" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="icon" href="https://t.me/AsanovK" target="_blank"><i class="fab fa-telegram-plane"
                            aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="icon" href="https://www.linkedin.com/in/kubanych-asanov-07394b1b4/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<hr />
<footer class="footer footer-bar bg-dark">
    <div class="col-12 text-center">
        © 2021 Kubanychbek Asanov Abdukadyrovich
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://kit.fontawesome.com/e4346a43b7.js" crossorigin="anonymous"></script>